In [17]:
import numpy as np
import pandas as pd

In [18]:
np.random.seed(524)

In [19]:
samples=1000
cls_0_ratio=0.9
cls_0_size=int(samples*cls_0_ratio)
cls_1_size=samples-cls_0

In [20]:
cls_0_size,cls_1_size

(900, 100)

In [27]:
cls_0_df=pd.DataFrame({
    'c1':np.random.normal(loc=0,scale=1,size=cls_0_size),
    'c2':np.random.normal(0,1,size=cls_0_size),
    'target':[0]*cls_0_size
})

In [29]:
cls_1_df=pd.DataFrame({
    'c1':np.random.normal(0,1,size=cls_1_size),
    'c2':np.random.normal(0,1,size=cls_1_size),
    'target':[1]*cls_1_size
})

In [30]:
cls_1_df.shape

(100, 3)

In [31]:
cls_0_df.shape

(900, 3)

In [34]:
df=pd.concat([cls_0_df,cls_1_df]).reset_index(drop=True)

In [35]:
df.head()

         c1        c2  target
0 -0.952462  1.289916       0
1 -1.906558  0.106422       0
2 -0.273707 -1.535612       0
3 -0.148207 -1.360077       0
4 -0.430262 -0.335793       0

In [36]:
df.tail()

           c1        c2  target
995 -0.175544  1.075950       1
996 -0.395001 -1.469382       1
997  0.296706  1.542139       1
998  1.420357 -0.321291       1
999  1.145953  0.522157       1

In [37]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [39]:
df['target']==1

0      False
1      False
2      False
3      False
4      False
       ...
995     True
996     True
997     True
998     True
999     True
Name: target, Length: 1000, dtype: bool

In [41]:
minor_df=df[df['target']==1]

In [42]:
minor_df

           c1        c2  target
900 -0.273720  0.450995       1
901 -0.119493 -0.600291       1
902  0.105128  1.184924       1
903 -1.119521  0.749087       1
904 -0.017448  1.579016       1
..        ...       ...     ...
995 -0.175544  1.075950       1
996 -0.395001 -1.469382       1
997  0.296706  1.542139       1
998  1.420357 -0.321291       1
999  1.145953  0.522157       1

[100 rows x 3 columns]

In [43]:
major_df=df[df['target']==0]

In [44]:
major_df

           c1        c2  target
0   -0.952462  1.289916       0
1   -1.906558  0.106422       0
2   -0.273707 -1.535612       0
3   -0.148207 -1.360077       0
4   -0.430262 -0.335793       0
..        ...       ...     ...
895 -0.628053  0.422794       0
896 -1.726449 -1.199265       0
897 -0.235908  0.652583       0
898 -1.071223  1.085729       0
899 -0.342865  0.559598       0

[900 rows x 3 columns]

In [63]:
# up sampling

In [45]:
from sklearn.utils import resample

In [54]:
resampled_minor_df=resample(
    minor_df,replace=True,n_samples=len(major_df),random_state=52).reset_index(drop=True)

In [55]:
resampled_minor_df

           c1        c2  target
0    0.192433  0.941287       1
1    0.440840 -0.160519       1
2   -0.338305 -0.387345       1
3   -0.454644  0.883591       1
4    0.266651  0.790495       1
..        ...       ...     ...
895 -0.167775 -1.285189       1
896  1.467403  0.641663       1
897  0.266651  0.790495       1
898 -0.062134 -0.312525       1
899 -0.692937  0.761699       1

[900 rows x 3 columns]

In [56]:
resampled_minor_df.shape

(900, 3)

In [59]:
resampled_minor_df['target'].value_counts()

1    900
Name: target, dtype: int64

In [60]:
up_sampled=pd.concat([major_df,resampled_minor_df]).reset_index(drop=True)

In [61]:
up_sampled

            c1        c2  target
0    -0.952462  1.289916       0
1    -1.906558  0.106422       0
2    -0.273707 -1.535612       0
3    -0.148207 -1.360077       0
4    -0.430262 -0.335793       0
...        ...       ...     ...
1795 -0.167775 -1.285189       1
1796  1.467403  0.641663       1
1797  0.266651  0.790495       1
1798 -0.062134 -0.312525       1
1799 -0.692937  0.761699       1

[1800 rows x 3 columns]

In [62]:
up_sampled.shape

(1800, 3)

In [64]:
# down sampling

In [77]:
resampled_major_df=resample(major_df,n_samples=len(minor_df),random_state=15).reset_index(drop=True)

In [78]:
resampled_major_df

          c1        c2  target
0  -0.896916 -0.312485       0
1  -2.062400  0.431732       0
2  -0.507481 -1.014946       0
3   0.231495  0.052706       0
4  -0.673459 -0.460640       0
..       ...       ...     ...
95  0.577967  0.682715       0
96 -1.647245 -0.649986       0
97  0.411398 -0.538624       0
98 -1.115361 -0.809591       0
99 -1.505639 -0.379376       0

[100 rows x 3 columns]

In [79]:
resampled_major_df.shape

(100, 3)

In [80]:
down_sampled=pd.concat([resampled_major_df,minor_df]).reset_index(drop=True)

In [81]:
down_sampled

           c1        c2  target
0   -0.896916 -0.312485       0
1   -2.062400  0.431732       0
2   -0.507481 -1.014946       0
3    0.231495  0.052706       0
4   -0.673459 -0.460640       0
..        ...       ...     ...
195 -0.175544  1.075950       1
196 -0.395001 -1.469382       1
197  0.296706  1.542139       1
198  1.420357 -0.321291       1
199  1.145953  0.522157       1

[200 rows x 3 columns]

In [82]:
down_sampled.shape

(200, 3)

In [83]:
down_sampled['target'].value_counts()

0    100
1    100
Name: target, dtype: int64